@import "tailwindcss";


:root {
  --primary-color: #1a1a1a;
  --secondary-color: #ffffff;
  --accent-color: #646cff;
}

@layer components {
  body {
    @apply bg-gray-900 text-white;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  button {
    @apply bg-blue-600 text-white font-semibold py-2 px-4 rounded;
  }

  button:hover {
    @apply bg-gray-700;
  }

  a {
    @apply text-blue-500;
  }

  a:hover {
    @apply text-blue-400;
  }
}
